/* LOGGAN */

#st0 {
	fill: none;
	stroke: #CCDFC0;
	stroke-width: 4;
}

#st1 {
	fill: none;
	stroke: #CCDFC0;
	stroke-width: 4;
}

#st2 {
	fill: #387681;
	stroke-width: 10;
}

#st3 {
	fill: #1CDCD2;
}


